Repository bjoern621/PeerDrop, changes with the owners that .github/CODEOWNERS names for each.
All owners: @bjoern621, @eggibotting, @NovaCaller, @HomeMichi

.github/CODEOWNERS:

* @bjoern621
/frontend/ @eggibotting
/backend/ @NovaCaller
/database/ @HomeMichi

Added indication for no files beeing added
  frontend/src/components/DataSharingPage/DataSharingPage.module.scss
  frontend/src/components/DataSharingPage/DataSharingPage.tsx
Owners: @eggibotting

eslint happy
  frontend/src/services/WebSocketService.ts
Owners: @eggibotting

Implemented pseudo-functionality to links for better presentation
  frontend/src/components/DataSharingPage/DataSharingPage.tsx
  frontend/src/components/LandingPage/LandingPage.tsx
Owners: @eggibotting

CI appeasement
  frontend/src/components/DataSharingPage/DataSharingPage.tsx
Owners: @eggibotting

CI appeasment 2: electric boogaloo
  frontend/src/main.tsx
Owners: @eggibotting

Shortended
  frontend/src/components/DataSharingPage/DataSharingPage.tsx
  frontend/src/main.tsx
Owners: @eggibotting

Delete package-lock.json
  package-lock.json
Owners: @bjoern621

Removed unnecessary package imports
  frontend/package-lock.json
  frontend/package.json
Owners: @eggibotting

Removed unnecessary package imports
  backend/.idea/.idea.backend/.idea/indexLayout.xml
  frontend/package-lock.json
  frontend/package.json
Owners: @NovaCaller, @eggibotting

20 task UI für datei teilen ansicht erstellen (#85)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/assets/dragdropicon.svg
  frontend/src/components/DataSharingPage/DataSharingPage.module.scss
  frontend/src/components/DataSharingPage/DataSharingPage.tsx
  frontend/src/components/LandingPage/LandingPage.tsx
  frontend/src/main.tsx
Owners: @eggibotting

Outsourced remoteToken from WebSocketService
  frontend/src/components/LandingPage/LandingPage.tsx
  frontend/src/services/PeerConnectionManager.ts
  frontend/src/services/WebRTCConnection.ts
  frontend/src/services/WebSocketService.ts
Owners: @eggibotting

CI happy
  frontend/src/components/LandingPage/LandingPage.tsx
  frontend/src/services/PeerConnectionManager.ts
  frontend/src/services/WebRTCConnection.ts
Owners: @eggibotting

prettier
  frontend/src/components/LandingPage/LandingPage.tsx
  frontend/src/services/WebRTCConnection.ts
Owners: @eggibotting

smth
  frontend/.prettierrc
Owners: @eggibotting

Ergänzt WebRTCService um closeConnection(), unnötige exports in WebSocketService entfernt und unnötige variable in useEffect entfernt
  frontend/src/components/LandingPage/LandingPage.tsx
  frontend/src/services/WebRTCConnection.ts
  frontend/src/services/WebSocketService.ts
Owners: @eggibotting

closePeerConnection richtig gemacht jetzt (alle Handler werden unsubscribed und alle properties auf null zurückgesetzt.
  frontend/src/services/WebRTCConnection.ts
Owners: @eggibotting

kommentiert kommentare
  frontend/src/services/WebSocketService.ts
Owners: @eggibotting

14 task dateiverbindung aufbauen (#63)
  backend/backend/Program.cs
  backend/backend/endpoints/websocket/ErrorMessage.cs
  backend/backend/endpoints/websocket/IceCandidateMessage.cs
  backend/backend/endpoints/websocket/RemoteTokenMessage.cs
  backend/backend/endpoints/websocket/SDPMessage.cs
  backend/backend/endpoints/websocket/SuccessMessage.cs
  backend/backend/endpoints/websocket/WebSocketHandler.cs
  frontend/.prettierrc
  frontend/src/components/LandingPage/LandingPage.tsx
  frontend/src/services/PeerConnectionManager.ts
  frontend/src/services/WebRTCConnection.ts
  frontend/src/services/WebSocketService.ts
Owners: @NovaCaller, @eggibotting

schichtenarchitektur implementiert, debugging noetig
  backend/backend/InvalidPasswordFormatException.cs
  backend/backend/InvalidUsernameFormatException.cs
  backend/backend/Program.cs
  backend/backend/backend.csproj
  backend/backend/endpoints/websocket/Routes.cs
  backend/backend/src/AccountCompoment/Common/DTOs/AccountCreateDTO.cs
  backend/backend/src/AccountCompoment/Common/Exception/InvalidPasswordFormatException.cs
  backend/backend/src/AccountCompoment/Common/Exception/InvalidUsernameFormatException.cs
  backend/backend/src/AccountCompoment/Dataaccess/Api/Entity/Account.cs
  backend/backend/src/AccountCompoment/Dataaccess/Api/Repo/IAccountRepository.cs
  backend/backend/src/AccountCompoment/Dataaccess/Impl/AccountRepository.cs
  backend/backend/src/AccountCompoment/Facade/Api/IAccountRoutes.cs
  backend/backend/src/AccountCompoment/Facade/Impl/AccountRoutes.cs
  backend/backend/src/AccountCompoment/Logic/Api/IAccountHandler.cs
  backend/backend/src/AccountCompoment/Logic/Impl/AccountHandler.cs
  backend/backend/src/Common/ErrorMessage.cs
  backend/backend/src/Common/ExceptionHandlingMiddleware.cs
  backend/backend/src/Common/SuccessMessage.cs
  backend/backend/src/Common/TestMessage.cs
  backend/backend/src/Common/TypedMessage.cs
  backend/backend/src/SignalingComponent/Common/Datatype/IceCandidateMessage.cs
  backend/backend/src/SignalingComponent/Common/Datatype/RemoteTokenMessage.cs
  backend/backend/src/SignalingComponent/Common/Datatype/SDPMessage.cs
  backend/backend/src/SignalingComponent/Logic/Api/ISignalingService.cs
  backend/backend/src/SignalingComponent/Logic/Impl/SignalingService.cs
  backend/backend/src/WebSocketComponent/Common/Datatype/MessageHandlerDelegate.cs
  backend/backend/src/WebSocketComponent/Common/Datatype/TypedMessageHandlerDelegate.cs
  backend/backend/src/WebSocketComponent/Facade/Api/IWebSocketRoutes.cs
  backend/backend/src/WebSocketComponent/Facade/Impl/WebSocketRoutes.cs
  backend/backend/src/WebSocketComponent/Logic/Api/IWebSocketHandler.cs
  backend/backend/src/WebSocketComponent/Logic/Impl/WebSocketHandler.cs
Owners: @NovaCaller

falsche http methode fixed, token generation funktioniert
  backend/backend/src/WebSocketComponent/Facade/Impl/WebSocketRoutes.cs
Owners: @NovaCaller

fixed errors in console on invalid ICE Candidates (those which belong to the rejected SDP Offer by the impolite Peer)
  frontend/src/services/WebRTCConnection.ts
Owners: @eggibotting

Signaling in Facade und Service aufgeteilt, leere Ordner entfernt.
  backend/backend/Program.cs
  backend/backend/backend.csproj
  backend/backend/src/SignalingComponent/Common/Datatype/IceCandidateMessage.cs
  backend/backend/src/SignalingComponent/Common/Datatype/SDPMessage.cs
  backend/backend/src/SignalingComponent/Facade/Api/ISignalingFacade.cs
  backend/backend/src/SignalingComponent/Facade/Impl/SignalingFacade.cs
  backend/backend/src/SignalingComponent/Logic/Api/ISignalingService.cs
  backend/backend/src/SignalingComponent/Logic/Impl/SignalingService.cs
Owners: @NovaCaller

messages als dtos, common messages jetzt in WebSocketComponent
  backend/backend/Program.cs
  backend/backend/src/SignalingComponent/Common/DTOs/IceCandidateMessage.cs
  backend/backend/src/SignalingComponent/Common/DTOs/RemoteTokenMessage.cs
  backend/backend/src/SignalingComponent/Common/DTOs/SDPMessage.cs
  backend/backend/src/SignalingComponent/Facade/Impl/SignalingFacade.cs
  backend/backend/src/SignalingComponent/Logic/Api/ISignalingService.cs
  backend/backend/src/SignalingComponent/Logic/Impl/SignalingService.cs
  backend/backend/src/WebSocketComponent/Common/DTOs/ErrorMessage.cs
  backend/backend/src/WebSocketComponent/Common/DTOs/MessageHandlerDelegate.cs
  backend/backend/src/WebSocketComponent/Common/DTOs/SuccessMessage.cs
  backend/backend/src/WebSocketComponent/Common/DTOs/TestMessage.cs
  backend/backend/src/WebSocketComponent/Common/DTOs/TypedMessage.cs
  backend/backend/src/WebSocketComponent/Common/DTOs/TypedMessageHandlerDelegate.cs
  backend/backend/src/WebSocketComponent/Logic/Api/IWebSocketHandler.cs
  backend/backend/src/WebSocketComponent/Logic/Impl/WebSocketHandler.cs
Owners: @NovaCaller

Program.cs in src order bewegt
  backend/backend/src/Program.cs
Owners: @NovaCaller

backend.http enfernt
  backend/backend/backend.http
Owners: @NovaCaller

Fixed inconsistent inputfield errorstates
  frontend/src/components/Sidebar/Register/Register.tsx
Owners: @eggibotting

Fixed inconsistent inputfield errorstates (#99)
  frontend/src/components/Sidebar/Register/Register.tsx
Owners: @eggibotting

Implemented Frontend (without proper functionality)
  frontend/src/components/Sidebar/Login/Login.module.scss
  frontend/src/components/Sidebar/Login/Login.tsx
  frontend/src/components/Sidebar/Sidebar.tsx
Owners: @eggibotting

reenabled border-box sizing for buttons and a tags
  frontend/src/index.scss
Owners: @eggibotting

Frontend built in requestId logic
  frontend/src/services/PeerConnectionManager.ts
  frontend/src/services/WebSocketService.ts
Owners: @eggibotting

Race Condition Bug fixed by adding RequestIDs to RemoteTokenMesage, ErrorMessage and SuccessMessage
  backend/backend/src/SignalingComponent/Common/DTOs/RemoteTokenMessage.cs
  backend/backend/src/SignalingComponent/Logic/Impl/SignalingService.cs
  backend/backend/src/WebSocketComponent/Common/DTOs/ErrorMessage.cs
  backend/backend/src/WebSocketComponent/Common/DTOs/SuccessMessage.cs
  frontend/src/services/PeerConnectionManager.ts
Owners: @NovaCaller, @eggibotting

base implementation of ui elements
  frontend/src/assets/account_circle_icon.svg
  frontend/src/assets/account_circle_icon_light.svg
  frontend/src/assets/add_icon.svg
  frontend/src/assets/delete_icon.svg
  frontend/src/assets/delete_icon_light.svg
  frontend/src/components/Sidebar/Sidebar.tsx
  frontend/src/components/Sidebar/UserProfile/UserProfile.module.scss
  frontend/src/components/Sidebar/UserProfile/UserProfile.tsx
Owners: @eggibotting

CI appeasement
  frontend/src/components/Sidebar/UserProfile/UserProfile.module.scss
  frontend/src/components/Sidebar/UserProfile/UserProfile.tsx
Owners: @eggibotting

asserts statt console.error (und rechtschreibfehler)
  frontend/src/services/PeerConnectionManager.ts
Owners: @eggibotting

Impl
  backend/backend/src/Program.cs
  backend/backend/src/SignalingComponent/Common/DataTypes/MessageType.cs
  backend/backend/src/SignalingComponent/Facade/Impl/SignalingFacade.cs
  backend/backend/src/SignalingComponent/Logic/Impl/SignalingService.cs
  backend/backend/src/WebSocketComponent/Common/DTOs/TypedMessage.cs
  backend/backend/src/WebSocketComponent/Logic/Api/IWebSocketHandler.cs
  backend/backend/src/WebSocketComponent/Logic/Impl/WebSocketHandler.cs
  frontend/src/services/MessageType.ts
  frontend/src/services/PeerConnectionManager.ts
  frontend/src/services/WebSocketService.ts
Owners: @NovaCaller, @eggibotting

created the dataChannel and configured it a little bit provisorisch, also implemented File transfer methode through a single new datachannel for each file, but not tested.
  frontend/src/services/PeerConnectionManager.ts
  frontend/src/services/WebRTCConnection.ts
Owners: @eggibotting

Switched TypedMessage Behaviour to include Type
  backend/backend/src/Program.cs
  backend/backend/src/SignalingComponent/Common/DTOs/ErrorMessage.cs
  backend/backend/src/SignalingComponent/Common/DTOs/IceCandidateMessage.cs
  backend/backend/src/SignalingComponent/Common/DTOs/RemoteTokenMessage.cs
  backend/backend/src/SignalingComponent/Common/DTOs/SDPMessage.cs
  backend/backend/src/SignalingComponent/Common/DTOs/SuccessMessage.cs
  backend/backend/src/SignalingComponent/Logic/Impl/SignalingService.cs
  backend/backend/src/WebSocketComponent/Common/DTOs/ClientTokenMessage.cs
  backend/backend/src/WebSocketComponent/Common/DTOs/TestMessage.cs
  backend/backend/src/WebSocketComponent/Common/DTOs/TypedMessage.cs
  backend/backend/src/WebSocketComponent/Logic/Api/IWebSocketHandler.cs
  backend/backend/src/WebSocketComponent/Logic/Impl/WebSocketHandler.cs
Owners: @NovaCaller

semi working
  backend/backend/src/SignalingComponent/Common/DTOs/CloseConnectionMessage.cs
  backend/backend/src/SignalingComponent/Common/DTOs/ErrorMessage.cs
  backend/backend/src/SignalingComponent/Common/DTOs/IceCandidateMessage.cs
  backend/backend/src/SignalingComponent/Common/DTOs/SDPMessage.cs
  backend/backend/src/SignalingComponent/Common/DTOs/SuccessMessage.cs
  backend/backend/src/SignalingComponent/Facade/Impl/SignalingFacade.cs
  backend/backend/src/SignalingComponent/Logic/Api/ISignalingService.cs
  backend/backend/src/SignalingComponent/Logic/Impl/SignalingService.cs
  backend/backend/src/WebSocketComponent/Common/DTOs/ClientTokenMessage.cs
  backend/backend/src/WebSocketComponent/Common/DTOs/ITypedMessage.cs
  backend/backend/src/WebSocketComponent/Common/DTOs/TestMessage.cs
  backend/backend/src/WebSocketComponent/Logic/Api/IWebSocketHandler.cs
  backend/backend/src/WebSocketComponent/Logic/Impl/WebSocketHandler.cs
  frontend/src/components/LandingPage/LandingPage.tsx
  frontend/src/services/MessageType.ts
  frontend/src/services/PeerConnectionManager.ts
  frontend/src/services/WebRTCConnection.ts
  frontend/src/services/WebSocketService.ts
Owners: @NovaCaller, @eggibotting

Fixed SDP Message
  backend/backend/src/SignalingComponent/Common/DTOs/SDPMessage.cs
  frontend/src/services/WebRTCConnection.ts
Owners: @NovaCaller, @eggibotting

fixed wrong attributes contained in messages
  backend/backend/src/SignalingComponent/Common/DTOs/CloseConnectionMessage.cs
  backend/backend/src/SignalingComponent/Common/DTOs/ErrorMessage.cs
  backend/backend/src/SignalingComponent/Common/DTOs/IceCandidateMessage.cs
  backend/backend/src/SignalingComponent/Common/DTOs/RemoteTokenMessage.cs
  backend/backend/src/SignalingComponent/Common/DTOs/SDPMessage.cs
  backend/backend/src/SignalingComponent/Common/DTOs/SuccessMessage.cs
  backend/backend/src/WebSocketComponent/Common/DTOs/ClientTokenMessage.cs
  backend/backend/src/WebSocketComponent/Common/DTOs/TestMessage.cs
Owners: @NovaCaller
