Repository bjoern621/PeerDrop, changes with the owners that .github/CODEOWNERS names for each.
All owners: @bjoern621, @eggibotting, @NovaCaller, @HomeMichi

removed logging
  frontend/src/components/Sidebar/Sidebar.tsx
Owners: @eggibotting

adjusted css as to not interfer with other components (e.g. sidebar)
  frontend/src/components/LandingPage/LandingPage.module.scss
Owners: @eggibotting

Create prettier.yml
  .github/workflows/prettier.yml
Owners: @bjoern621

Prettier Action (#66)
  .github/workflows/prettier.yml
Owners: @bjoern621

Prettier Config geändert
  frontend/.prettierrc
Owners: @eggibotting

Prettier Config geändert (#67)
  frontend/.prettierrc
Owners: @eggibotting

Refactor CI/CD workflows for clarity and consistency; update job names and add HTML to Prettier check
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/eslint.yml
  .github/workflows/prettier.yml
Owners: @bjoern621

Refactored CI pipeline
  .github/workflows/build.yml
  .github/workflows/eslint.yml
  .github/workflows/prettier.yml
Owners: @bjoern621

Fix capitalization in CI job name for consistency
  .github/workflows/build.yml
Owners: @bjoern621

Refactor CI/CD workflows (#68)
  .github/workflows/build.yml
  .github/workflows/cd.yml
  .github/workflows/eslint.yml
  .github/workflows/prettier.yml
Owners: @bjoern621

dwad
  frontend/src/index.scss
Owners: @eggibotting

todos entfernt
  backend/backend/AccountRepository.cs
Owners: @NovaCaller

Update prettier.yml
  .github/workflows/prettier.yml
Owners: @bjoern621

Update prettier.yml
  .github/workflows/prettier.yml
Owners: @bjoern621

new scoping of sidebar-css
  frontend/src/components/LandingPage/LandingPage.module.scss
  frontend/src/components/LandingPage/LandingPage.tsx
  frontend/src/components/Sidebar/Register/Register.module.scss
  frontend/src/components/Sidebar/Register/Register.tsx
  frontend/src/components/Sidebar/Sidebar.module.scss
  frontend/src/components/Sidebar/Sidebar.scss
  frontend/src/components/Sidebar/Sidebar.tsx
Owners: @eggibotting

Update prettier.yml (#70)
  .github/workflows/prettier.yml
Owners: @bjoern621

corrected css syntax
  frontend/src/components/Sidebar/Register/Register.module.scss
  frontend/src/components/Sidebar/Sidebar.module.scss
Owners: @eggibotting

improved Colors on buttons
  frontend/src/components/LandingPage/LandingPage.module.scss
  frontend/src/components/Sidebar/Register/Register.module.scss
Owners: @eggibotting

fixed void function call expecting return
  frontend/src/components/Sidebar/Register/Register.tsx
Owners: @eggibotting

prettier formatting
  frontend/src/Layout/Layout.scss
  frontend/src/Layout/Layout.tsx
  frontend/src/components/LandingPage/LandingPage.module.scss
  frontend/src/components/LandingPage/LandingPage.tsx
  frontend/src/components/Sidebar/Register/Register.module.scss
  frontend/src/components/Sidebar/Register/Register.tsx
  frontend/src/components/Sidebar/Sidebar.module.scss
  frontend/src/components/Sidebar/Sidebar.tsx
  frontend/src/components/dtos/UserLoginDto.ts
  frontend/src/index.scss
Owners: @eggibotting

Fix for missing shadow-colors
  frontend/src/index.scss
Owners: @eggibotting

CD fixed
  frontend/src/components/LandingPage/LandingPage.tsx
  frontend/src/services/WebRTCConnection.ts
  frontend/src/services/WebSocketService.ts
Owners: @eggibotting

CD fixed 2.0
  frontend/src/components/LandingPage/LandingPage.tsx
Owners: @eggibotting

Removed unused dependecy
  frontend/package-lock.json
  frontend/package.json
  frontend/src/Layout/Layout.tsx
Owners: @eggibotting

fixed form validation not properly executing
  frontend/src/components/Sidebar/Register/Register.tsx
Owners: @eggibotting

CI appeasement
  frontend/src/components/Sidebar/Register/Register.tsx
Owners: @eggibotting

Denested css file
  frontend/src/components/DataSharingPage/DataSharingPage.module.scss
  frontend/src/components/DataSharingPage/DataSharingPage.tsx
Owners: @eggibotting

unnötige Klasse entfernt
  backend/backend/AccountService.cs
Owners: @NovaCaller

Better spacing of error messages under form fields
  frontend/src/components/Sidebar/Register/Register.module.scss
Owners: @eggibotting

Create risk.yml
  .github/ISSUE_TEMPLATE/risk.yml
Owners: @bjoern621

Create risk.yml (#75)
  .github/ISSUE_TEMPLATE/risk.yml
Owners: @bjoern621

Update risk.yml
  .github/ISSUE_TEMPLATE/risk.yml
Owners: @bjoern621

Update risk.yml (#76)
  .github/ISSUE_TEMPLATE/risk.yml
Owners: @bjoern621

Update risk.yml
  .github/ISSUE_TEMPLATE/risk.yml
Owners: @bjoern621

Update risk.yml (#77)
  .github/ISSUE_TEMPLATE/risk.yml
Owners: @bjoern621

Update risk.yml
  .github/ISSUE_TEMPLATE/risk.yml
Owners: @bjoern621

Update risk.yml (#79)
  .github/ISSUE_TEMPLATE/risk.yml
Owners: @bjoern621

3 us account erstellen (#71)
  backend/backend/Account.cs
  backend/backend/AccountCreateDTO.cs
  backend/backend/AccountRepository.cs
  backend/backend/ExceptionHandlingMiddleware.cs
  backend/backend/IAccountRepository.cs
  backend/backend/InvalidPasswordFormatException.cs
  backend/backend/InvalidUsernameFormatException.cs
  backend/backend/Program.cs
  database/database_ddl/public/users.sql
  frontend/package-lock.json
  frontend/src/Layout/Layout.scss
  frontend/src/Layout/Layout.tsx
  frontend/src/assets/logo_small.png
  frontend/src/components/LandingPage/LandingPage.module.scss
  frontend/src/components/LandingPage/LandingPage.tsx
  frontend/src/components/Sidebar/Register/Register.module.scss
  frontend/src/components/Sidebar/Register/Register.tsx
  frontend/src/components/Sidebar/Sidebar.module.scss
  frontend/src/components/Sidebar/Sidebar.tsx
  frontend/src/components/dtos/UserLoginDto.ts
  frontend/src/index.scss
  frontend/src/main.tsx
Owners: @NovaCaller, @HomeMichi, @eggibotting

Fix
  frontend/src/components/LandingPage/LandingPage.module.scss
Owners: @eggibotting

Fix (#84)
  frontend/src/components/LandingPage/LandingPage.module.scss
Owners: @eggibotting

.github/CODEOWNERS:

* @bjoern621
/frontend/ @eggibotting
/backend/ @NovaCaller
/database/ @HomeMichi
