Repository bjoern621/PeerDrop, changes with the owners that .github/CODEOWNERS names for each.
All owners: @bjoern621, @eggibotting, @NovaCaller, @HomeMichi

.github/CODEOWNERS:

* @bjoern621
/frontend/ @eggibotting
/backend/ @NovaCaller
/database/ @HomeMichi

removed logging
  frontend/src/services/WebRTCConnection.ts
Owners: @eggibotting

Removed redundant error display
  frontend/src/components/DataSharingPage/DataSharingPage.tsx
Owners: @eggibotting

86 bug websocket response pattern race condition (#104)
  backend/backend/src/Program.cs
  backend/backend/src/SignalingComponent/Common/DTOs/CloseConnectionMessage.cs
  backend/backend/src/SignalingComponent/Common/DTOs/ErrorMessage.cs
  backend/backend/src/SignalingComponent/Common/DTOs/IceCandidateMessage.cs
  backend/backend/src/SignalingComponent/Common/DTOs/RemoteTokenMessage.cs
  backend/backend/src/SignalingComponent/Common/DTOs/SuccessMessage.cs
  backend/backend/src/SignalingComponent/Facade/Impl/SignalingFacade.cs
  backend/backend/src/SignalingComponent/Logic/Api/ISignalingService.cs
  backend/backend/src/SignalingComponent/Logic/Impl/SignalingService.cs
  backend/backend/src/WebSocketComponent/Common/DTOs/ClientTokenMessage.cs
  backend/backend/src/WebSocketComponent/Common/DTOs/ErrorMessage.cs
  backend/backend/src/WebSocketComponent/Common/DTOs/ITypedMessage.cs
  backend/backend/src/WebSocketComponent/Common/DTOs/SuccessMessage.cs
  backend/backend/src/WebSocketComponent/Common/DTOs/TestMessage.cs
  backend/backend/src/WebSocketComponent/Common/DTOs/TypedMessage.cs
  backend/backend/src/WebSocketComponent/Logic/Api/IWebSocketHandler.cs
  backend/backend/src/WebSocketComponent/Logic/Impl/WebSocketHandler.cs
  frontend/src/components/DataSharingPage/DataSharingPage.tsx
  frontend/src/components/LandingPage/LandingPage.tsx
  frontend/src/services/MessageType.ts
  frontend/src/services/PeerConnectionManager.ts
  frontend/src/services/WebRTCConnection.ts
  frontend/src/services/WebSocketService.ts
Owners: @NovaCaller, @eggibotting

minor refactors
  backend/backend/src/AccountCompoment/Dataaccess/Api/Entity/Account.cs
Owners: @NovaCaller

fixed warning
  backend/backend/src/AccountCompoment/Dataaccess/Impl/AccountRepository.cs
Owners: @NovaCaller

removed illegal direct usage of an AccountRepository impl
  backend/backend/src/AccountCompoment/Logic/Impl/AccountHandler.cs
  backend/backend/src/Program.cs
Owners: @NovaCaller

91 bug illegaler direkter aufruf ohne interface von accountrepository in accounthandler (#105)
  backend/backend/src/AccountCompoment/Dataaccess/Api/Entity/Account.cs
  backend/backend/src/AccountCompoment/Dataaccess/Impl/AccountRepository.cs
  backend/backend/src/AccountCompoment/Logic/Impl/AccountHandler.cs
  backend/backend/src/Program.cs
Owners: @NovaCaller

salt wird nun abgespeichert
  backend/.idea/.idea.backend/.idea/sqldialects.xml
  backend/backend/src/AccountCompoment/Dataaccess/Api/Entity/Account.cs
  backend/backend/src/AccountCompoment/Dataaccess/Impl/AccountRepository.cs
  database/database_ddl/public/users.sql
Owners: @NovaCaller, @HomeMichi

Endpoint /login now works, todo : maybe other encryption
  backend/backend/src/AccountCompoment/Dataaccess/Api/Entity/Account.cs
  backend/backend/src/AccountCompoment/Dataaccess/Api/Repo/IAccountRepository.cs
  backend/backend/src/AccountCompoment/Dataaccess/Impl/AccountRepository.cs
  backend/backend/src/AccountCompoment/Facade/Impl/AccountRoutes.cs
  backend/backend/src/AccountCompoment/Logic/Api/IAccountHandler.cs
  backend/backend/src/AccountCompoment/Logic/Impl/AccountHandler.cs
Owners: @NovaCaller

Hashing mit Argon2id implementiert
  backend/backend/backend.csproj
  backend/backend/src/AccountCompoment/Dataaccess/Api/Entity/Account.cs
  backend/backend/src/AccountCompoment/Dataaccess/Api/Entity/PasswordHasher.cs
  backend/backend/src/AccountCompoment/Dataaccess/Impl/AccountRepository.cs
  backend/backend/src/AccountCompoment/Logic/Impl/AccountHandler.cs
Owners: @NovaCaller

salt wird nicht mehr separat abgespeichert (nicht mehr explizit nötig)
  database/database_ddl/public/users.sql
Owners: @HomeMichi

RemoteToken automatisch in Großbuchstaben
  frontend/src/components/LandingPage/LandingPage.tsx
Owners: @eggibotting

Eingabefeld für Remote-Token angepasst und Datenattribute hinzugefügt
  frontend/src/components/LandingPage/LandingPage.tsx
Owners: @eggibotting

RemoteToken automatisch in Großbuchstaben (#106)
  frontend/src/components/LandingPage/LandingPage.tsx
Owners: @eggibotting

Eingabefeld für Remote-Token angepasst und Datenattribute hinzugefügt (#107)
  frontend/src/components/LandingPage/LandingPage.tsx
Owners: @eggibotting

unnötige Dateien entfernt
  frontend/src/assets/Fonts/Roboto_Mono/README.txt
  frontend/src/assets/Fonts/Roboto_Mono/static/RobotoMono-Bold.ttf
  frontend/src/assets/Fonts/Roboto_Mono/static/RobotoMono-BoldItalic.ttf
  frontend/src/assets/Fonts/Roboto_Mono/static/RobotoMono-ExtraLight.ttf
  frontend/src/assets/Fonts/Roboto_Mono/static/RobotoMono-ExtraLightItalic.ttf
  frontend/src/assets/Fonts/Roboto_Mono/static/RobotoMono-Italic.ttf
  frontend/src/assets/Fonts/Roboto_Mono/static/RobotoMono-Light.ttf
  frontend/src/assets/Fonts/Roboto_Mono/static/RobotoMono-LightItalic.ttf
  frontend/src/assets/Fonts/Roboto_Mono/static/RobotoMono-Medium.ttf
  frontend/src/assets/Fonts/Roboto_Mono/static/RobotoMono-MediumItalic.ttf
  frontend/src/assets/Fonts/Roboto_Mono/static/RobotoMono-Regular.ttf
  frontend/src/assets/Fonts/Roboto_Mono/static/RobotoMono-SemiBold.ttf
  frontend/src/assets/Fonts/Roboto_Mono/static/RobotoMono-SemiBoldItalic.ttf
  frontend/src/assets/Fonts/Roboto_Mono/static/RobotoMono-Thin.ttf
  frontend/src/assets/Fonts/Roboto_Mono/static/RobotoMono-ThinItalic.ttf
  frontend/src/assets/Fonts/Source_Sans_3/README.txt
  frontend/src/assets/Fonts/Source_Sans_3/static/SourceSans3-Black.ttf
  frontend/src/assets/Fonts/Source_Sans_3/static/SourceSans3-BlackItalic.ttf
  frontend/src/assets/Fonts/Source_Sans_3/static/SourceSans3-Bold.ttf
  frontend/src/assets/Fonts/Source_Sans_3/static/SourceSans3-BoldItalic.ttf
  frontend/src/assets/Fonts/Source_Sans_3/static/SourceSans3-ExtraBold.ttf
  frontend/src/assets/Fonts/Source_Sans_3/static/SourceSans3-ExtraBoldItalic.ttf
  frontend/src/assets/Fonts/Source_Sans_3/static/SourceSans3-ExtraLight.ttf
  frontend/src/assets/Fonts/Source_Sans_3/static/SourceSans3-ExtraLightItalic.ttf
  frontend/src/assets/Fonts/Source_Sans_3/static/SourceSans3-Italic.ttf
  frontend/src/assets/Fonts/Source_Sans_3/static/SourceSans3-Light.ttf
  frontend/src/assets/Fonts/Source_Sans_3/static/SourceSans3-LightItalic.ttf
  frontend/src/assets/Fonts/Source_Sans_3/static/SourceSans3-Medium.ttf
  frontend/src/assets/Fonts/Source_Sans_3/static/SourceSans3-MediumItalic.ttf
  frontend/src/assets/Fonts/Source_Sans_3/static/SourceSans3-Regular.ttf
  frontend/src/assets/Fonts/Source_Sans_3/static/SourceSans3-SemiBold.ttf
  frontend/src/assets/Fonts/Source_Sans_3/static/SourceSans3-SemiBoldItalic.ttf
Owners: @eggibotting

Token richtig zentriert
  frontend/src/components/LandingPage/LandingPage.module.scss
Owners: @eggibotting

Token Anzeige verbessert; Preload Fonts (#108)
  frontend/index.html
  frontend/src/assets/Fonts/Roboto_Mono/LICENSE.txt
  frontend/src/assets/Fonts/Roboto_Mono/RobotoMono-Italic-VariableFont_wght.ttf
  frontend/src/assets/Fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf
  frontend/src/assets/Fonts/Source_Sans_3/OFL.txt
  frontend/src/assets/Fonts/Source_Sans_3/SourceSans3-Italic-VariableFont_wght.ttf
  frontend/src/assets/Fonts/Source_Sans_3/SourceSans3-VariableFont_wght.ttf
  frontend/src/components/LandingPage/LandingPage.module.scss
  frontend/src/components/LandingPage/LandingPage.tsx
  frontend/src/index.scss
Owners: @eggibotting

CI appeasement
  frontend/src/components/Sidebar/Login/Login.tsx
Owners: @eggibotting

Implemented Frontend (without proper functionality) (#109)
  frontend/src/components/Sidebar/Login/Login.module.scss
  frontend/src/components/Sidebar/Login/Login.tsx
  frontend/src/components/Sidebar/Sidebar.tsx
Owners: @eggibotting

Cursor correctly reflects interactions with connect buttons for already connected devices
  frontend/src/components/Sidebar/UserProfile/UserProfile.module.scss
Owners: @eggibotting

logging
  frontend/src/components/Sidebar/UserProfile/UserProfile.tsx
Owners: @eggibotting

Pseudo-Implementation of login
  frontend/src/components/Sidebar/Login/Login.tsx
  frontend/src/components/Sidebar/Register/Register.tsx
  frontend/src/components/Sidebar/Sidebar.tsx
Owners: @eggibotting

97 task UI für benutzerprofil anzeige (#110)
  frontend/src/assets/account_circle_icon.svg
  frontend/src/assets/account_circle_icon_light.svg
  frontend/src/assets/add_icon.svg
  frontend/src/assets/delete_icon.svg
  frontend/src/assets/delete_icon_light.svg
  frontend/src/components/Sidebar/Login/Login.tsx
  frontend/src/components/Sidebar/Register/Register.tsx
  frontend/src/components/Sidebar/Sidebar.tsx
  frontend/src/components/Sidebar/UserProfile/UserProfile.module.scss
  frontend/src/components/Sidebar/UserProfile/UserProfile.tsx
  frontend/src/index.scss
Owners: @eggibotting

Architektur und Datenzugriffsschicht grob implementiert
  backend/backend/src/AccountCompoment/Dataaccess/Api/Repo/IAccountRepository.cs
  backend/backend/src/DeviceComponent/Common/DTOs/DeviceCreateDTO.cs
  backend/backend/src/DeviceComponent/Common/Exception/InvalidDisplayNameFormatException.cs
  backend/backend/src/DeviceComponent/Dataaccess/Api/Entity/Device.cs
  backend/backend/src/DeviceComponent/Dataaccess/Api/Repo/IDeviceRepository.cs
  backend/backend/src/DeviceComponent/Dataaccess/Impl/DeviceRepository.cs
  backend/backend/src/DeviceComponent/Facade/Api/IRegisterCookie.cs
  backend/backend/src/DeviceComponent/Facade/Impl/RegisterCookie.cs
  backend/backend/src/DeviceComponent/Logic/Api/IDeviceHandler.cs
  backend/backend/src/DeviceComponent/Logic/Impl/DeviceHandler.cs
Owners: @NovaCaller

Setup WaitingDialog
  frontend/src/components/LandingPage/LandingPage.tsx
  frontend/src/components/Popups/ConfirmDialog.tsx
  frontend/src/components/Popups/Popups.module.scss
  frontend/src/components/Popups/WaitingDialog.tsx
Owners: @eggibotting

Erste Tests mit NUnit
  backend/backend.sln
  backend/backend.sln.DotSettings.user
  backend/tests/ArchTest.cs
  backend/tests/UnitTest1.cs
  backend/tests/tests.csproj
Owners: @NovaCaller

received file is being instantly downloaded into download directory
  frontend/src/services/WebRTCConnection.ts
Owners: @eggibotting

Impl Klassen nur in Program.cs
  backend/tests/ArchTest.cs
Owners: @NovaCaller

grundsätzliche Ordnerstruktur + NUNIT
  backend/backend.sln
  backend/backend.tests/AccountComponent/UnitTestStub.cs
  backend/backend.tests/Common/UnitTestStub.cs
  backend/backend.tests/SignalingComponent/UnitTestStub.cs
  backend/backend.tests/WebSocketComponent/UnitTestStub.cs
  backend/backend.tests/backend.tests.csproj
Owners: @NovaCaller

tried to fix navigation to share page once the connectionstate is connected
  frontend/src/components/LandingPage/LandingPage.tsx
  frontend/src/services/PeerConnectionManager.ts
  frontend/src/services/WebRTCConnection.ts
Owners: @eggibotting
